.app_editprofile_label{
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: -0.012em;
    color: var(--font_orange);
}

.app_editprofile_input{
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: -0.012em;
    color: var(--font-grey);
    background-color: white;
    min-width: 100%;
    outline: none;
    border: none;
    border-radius: 1rem;
}