.app__home_sticker-keyboard-button{
    width: 1.8rem;
    height: 1.8rem;
    font-size: 20px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    flex-wrap: nowrap;
}